In [1]:
library('tidyverse')

Warning message:
“Failed to locate timezone database”
── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.3     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.3     ✔ tibble    3.2.1
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

This is the data we'll use:

In [2]:
df.marathon = read.csv('../data//marathon.csv')
df.marathon |> head()

  year name                       country       time       race.time MF
1 2019 Lawrence Cherono           Kenya         2H 7M 57S  2.132500  Men's
2 2018 Yuki Kawauchi              Japan         2H 15M 58S 2.266111  Men's
3 2017 Geoffrey Kirui             Kenya         2H 9M 37S  2.160278  Men's
4 2016 Lemi Berhanu               Ethiopia      2H 12M 45S 2.212500  Men's
5 2015 Lelisa Desisa              Ethiopia      2H 9M 17S  2.154722  Men's
6 2014 Mebrahtom "Meb" Keflezighi United States 2H 8M 37S  2.143611  Men's
  country.simple
1 Kenya
2 Japan
3 Kenya
4 Ethiopia
5 Ethiopia
6 United States

What's the best race time? (*Hint: use `summarize` with the `min` function*)

In [9]:
df.marathon |> 
    summarize(best_time = min(race.time)) # |>
    # filter(top_n(-race.time)) #negative sign says to consider smallest values #this function lets us select the top rows based on the value in a particular colum -- would give us the best time, the name of the racer, year, etc.

  best_time
1 2.050556

What's the best race time for the men and women?

In [10]:
df.marathon |> 
    group_by(MF) |>
    summarize(best_time = min(race.time))

  MF      best_time
1 Men's   2.050556
2 Women's 2.333056

What's the median race time for the US women? (*Hint: use `|> filter(country == "United States")` to filter the data to just the US*)

In [15]:
###Question -- why does group_by(MF) not work here?

df.marathon |> 
    filter(country == "United States") |>
    group_by(MF) |>
    summarize(best_time = median(race.time))

  MF      best_time
1 Men's   2.478889
2 Women's 2.766944

What's the median race time for the Kenyan men? (*Hint: use `|> filter(country == "Kenya")` to filter the data to just Kenya*)

In [6]:
df.marathon |> 
    filter(country == "Kenya") |>
    filter(MF == "Men's") |>
    summarize(median(time), median(race.time))

Warning message:
“There was 1 warning in `summarize()`.
ℹ In argument: `median(time)`.
Caused by warning in `mean.default()`:
! argument is not numeric or logical: returning NA”

  median(time) median(race.time)
1 NA           2.155139

How many winners have there been for the US and Kenya?